.header {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  display: flex;
}

.logo {
  padding-left: 160px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.top-nav {
  display: flex;
  padding-left: 999px;
  padding-top: 52.5px;
}

.lang-list {
  display: flex;
  list-style: none;
  gap: 6px;
  margin: 0;
  padding: 0;
}

.lang-list__link {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  position: relative;
  line-height: 1.22;
}

.lang-list__link:before {
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  width: 100%;
  height: 2px;
  background-color: currentColor;
  opacity: 0;
}

.lang-list__link:hover, .lang-list__link:focus {
  color: #6DE1E3;
}

.lang-list__link:active {
  opacity: 0.7;
}

.lang-list__link_active {
  background-color: #F0145A;
  border-color: #F0145A;
  font-size: 12px;
  padding: 5px 7px;
  max-width: 33px;
  color: #fff;
  text-decoration: none;
  line-height: 1.22px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts {
  display: flex;
  flex-direction: row;
}

.contacts__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.22px;
  width: 170px;
  text-decoration: none;
  color: #fff;
  padding-left: 6px;
}

.contacts__item_number {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  width: 90px;
}

.nav {
  padding-top: 91px;
  position: absolute;
  padding-left: 1245px;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 15px;
  margin: 0;
  padding: 0;
  padding-left: 80px;
}

.nav__link {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  line-height: 1.22;
}

.symbol {
  margin: 0;
  padding-left: 233.54px;
}

.symbol__text {
  color: #fff;
  width: 800px;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.22;
  padding-top: 477px;
  padding-left: 560px;
  position: absolute;
  margin: 0;
  text-align: center;
}

.symbol__scroll {
  position: absolute;
  padding-top: 928px;
}

.intermedia {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.intermedia__consistent {
  padding-top: 74.5px;
  list-style: none;
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.intermedia__link {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 38px;
  text-decoration: none;
  line-height: 1.22;
  box-sizing: border-box;
}

.intermedia__link_first {
  padding-left: 424px;
}

.intermedia__link_second {
  padding-left: 290px;
}

.intermedia__link_hover {
  color: #B3B3BA;
  font-weight: 700;
  font-size: 38px;
  text-decoration: none;
  position: relative;
  line-height: 1.22;
}

.intermedia__link_hover_first {
  padding-left: 424px;
}

.intermedia__link_hover_second {
  padding-left: 310px;
}

.border {
  height: 303px;
  border-left: solid red;
  margin: 0;
  width: 4px;
  margin-top: 60px;
}

.intermedia__services {
  display: none;
}

.intermedia__services.intermedia__services_active {
  display: block;
}

.intermedia__title {
  padding-top: 115px;
  color: red;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.22;
  margin: 0;
}

.intermedia__consolidation {
  color: red;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.58;
  width: 861px;
  margin: 0;
  padding-top: 30px;
  box-sizing: border-box;
}

.offer__head {
  padding-left: 185px;
}

.offer__name {
  color: #F0145A;
  padding-top: 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.22;
  margin: 0;
  padding-bottom: 10px;
}

.text-gradient {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.22;
  max-width: 1140px;
  margin: 0;
}

.offer__title {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.22;
  padding-left: 185px;
  margin: 0;
  padding-top: 10px;
}

.offer__list {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.offer__item {
  width: 100%;
  max-width: 493px;
}

.offer__image {
  padding-left: 185px;
  padding-top: 60px;
}

.offer__proposition {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.22;
  color: #24A3FF;
  padding-left: 185px;
  padding-top: 30px;
  margin: 0;
}

.offer__explanation {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #24A3FF;
  max-width: 493.33px;
  padding-left: 185px;
  padding-top: 15px;
  margin: 0;
}

.offer__item_distance {
  padding-bottom: 60px;
}

.team {
  display: flex;
  margin: 0;
  padding-top: 60px;
}

.team__image {
  padding-left: 160px;
}

.team__topic {
  padding-left: 30px;
  width: 1200px;
  background: #F5F5FA;
}

.breadcrumbs {
  padding-top: 30px;
  color: #24A3FF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.22;
  margin: 0;
}

.team__topic.team__topic_distance {
  padding-bottom: 5px;
}

.team__name {
  padding-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.22;
  color: #B3B3BA;
  margin: 0;
}

.team__position {
  padding-top: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #B3B3BA;
  margin: 0;
}

.brands__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.22;
  color: #323264;
  padding-top: 106px;
  padding-left: 855.5px;
  margin: 0;
}

.brands__cards {
  padding-left: 100px;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 1720px;
}

.publications {
  padding-top: 30px;
  margin-top: 60px;
  padding-left: 160px;
}



/*# sourceMappingURL=style.css.map */
