* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.center {
  padding-left: calc(50vw - 800px);
  padding-right: calc(50vw - 800px);
}

.center_wider {
  padding-left: calc(50vw - 860px);
  padding-right: calc(50vw - 860px);
}

img {
  max-width: 100%;
  display: block;
}

.background-gradient {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0 0 12px 12px;
  position: relative;

  &:before, &:after {
    content: '';
    display: block;
    height: 10px;
    border-radius: 0 0 12px 12px;
    width: calc(100% - 40px);
    background: #CACADB;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 100%;
  }

  &:after {
    width: calc(100% - 80px);
    background: #E7E7F2;
    top: calc(100% + 10px);
  }
}

.symbol {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url("../img/symbol.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &__scroll {
    position: absolute;
    bottom: 30px;
  }

  &__text {
    font-size: 38px;
    line-height: 1.22;
    color: #fff;
    margin: 0;
  }
}

.text-gradient {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.22;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 0;
}

.breadcrumbs {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.23;
  color: #24A3FF;
  margin: 0;
}

@media screen and (max-width: 1650px) {
  .center {
    padding-left: calc(50vw - 660px);
    padding-right: calc(50vw - 660px);
  }

  .center_wider {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 1340px) {
  .center {
    padding-left: calc(50vw - 452px);
    padding-right: calc(50vw - 452px);
  }

  .center_wider {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 950px) {
  .center {
    padding-left: calc(50vw - 324px);
    padding-right: calc(50vw - 324px);
  }

  .symbol {
    min-height: 1024px;
    background-size: cover;

  }
}