.team {
  display: inline-block;
}

  .team_image {
    padding-left: 160px;
    padding-top: 60px;
  }

  .team_title {
    color: #24A3FF;
    font-weight: 700;
    font-size: 14px;
    line-height: 17.07px;
  }