.publications {
  padding-top: 30px;
  background: #F5F5FA;

  &__slogan {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 30px;
  }

  &__cards {
    display: flex;
    gap: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #E6E6F0;
  }

  &__group {
    background: #fff;
    border-radius: 8px;
    max-width: 453px;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.22;
    color: #24A3FF;
    margin: 0;
    padding-top: 30px;
    padding-left: 30px;
  }

  &__date {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.22;
    color: #B3B3BA;
    padding-bottom: 15px;
    border-bottom: 4px solid #E6E6F0;
    padding-left: 30px;
  }

  &__topic {
    padding-left: 30px;
    font-size: 12px;
    line-height: 1.57;
  }
}