.publications {
  padding-top: 30px;
  background: #F5F5FA;

  &__slogan {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 30px;
  }

  &__cards {
    display: flex;
    gap: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #E6E6F0;
  }

  &__group {
    background: #fff;
    border-radius: 8px;
    max-width: 453px;
  }

  &__image {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.22;
    color: #24A3FF;
    margin: 0;
    padding-top: 30px;
    padding-left: 30px;
    max-width: 453px;
  }

  &__date {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.22;
    color: #B3B3BA;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 4px solid #E6E6F0;
    padding-left: 30px;
    margin: 0;
  }

  &__topic {
    padding-left: 30px;
    font-size: 12px;
    line-height: 1.57;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 30px;
    max-width: 453px;
  }
}

@media screen and (max-width: 1650px) {

  .publications__group {
    max-width: 420px;
  }

  .publications__title {
    max-width: 360px;
  }

  .publications__topic {
    max-width: 360px;
  }
}

@media screen and (max-width: 1340px) {
  .publications__group {
    max-width: 281px;
  }

  .publications__image {
    min-width: 281px;
  }

  .publications__title {
    max-width: 221px;
  }

  .publications__topic {
    max-width: 221px;
  }
}

@media screen and (max-width: 768px) {
  .publications__cards {

  }

  .publications__image {
    min-width: 309px;
  }

  .publications__title {
    max-width: 249px;
  }

  .publications__topic {
    max-width: 249px;
  }
}