.header {
  position: absolute;
  padding-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 17px;
}

.logo {
  grid-row: span 2;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.lang-list {
  list-style: none;
  display: flex;
  margin: 0;
}
.lang-list__link {
  padding: 5px 7px;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.22;
}
.lang-list__link_active {
  background: #F0145A;
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts__item {
  text-decoration: none;
  color: #fff;
  line-height: 1.22;
  font-style: normal;
  display: flex;
  align-items: center;
}
.contacts__item:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  background-color: #E6E6F0;
  margin-left: 6px;
  margin-right: 6px;
}
.contacts__item_number {
  font-weight: 700;
}

.nav {
  display: flex;
  justify-content: flex-end;
}
.nav__list {
  display: flex;
  gap: 15px;
  list-style: none;
  font-weight: 700;
  line-height: 1.22;
  margin: 0;
}
.nav__link {
  text-decoration: none;
  color: #fff;
}
.nav__menu {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50vw - 800px);
  padding-right: calc(50vw - 800px);
}

.background-gradient {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0 0 12px 12px;
}

.symbol {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url("../img/symbol.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.symbol__scroll {
  position: absolute;
  bottom: 30px;
}
.symbol__text {
  font-size: 38px;
  line-height: 1.22;
  color: #fff;
  margin: 0;
}

.intermedia {
  display: flex;
}

.intermedia__consistent {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.22;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 75px;
  padding-left: 285px;
}
.intermedia__consistent:after {
  content: "";
  width: 4px;
  height: 303px;
  padding-left: 60px;
  color: #fff;
  position: absolute;
}

.intermedia__link {
  text-decoration: none;
}
.intermedia__link_first {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.intermedia__link_second {
  color: #F0145A;
  padding-top: 30px;
}
.intermedia__link_hover {
  text-decoration: none;
  color: #B3B3BA;
  padding-top: 30px;
}

.intermedia__services {
  display: none;
  padding-top: 133px;
  padding-left: 60px;
}
.intermedia__services_active {
  display: block;
}

.intermedia__title {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.22;
}

.intermedia__consolidation {
  font-size: 19px;
  line-height: 1.58;
  color: #fff;
  max-width: 861px;
}

/*# sourceMappingURL=style.css.map */
