.header {
  position: absolute;
  padding-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 17px;
  z-index: 5;
}

.logo {
  grid-row: span 2;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.lang-list {
  list-style: none;
  display: flex;
  margin: 0;
}
.lang-list__link {
  padding: 5px 7px;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.22;
}
.lang-list__link_active {
  background: #F0145A;
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts__item {
  text-decoration: none;
  color: #fff;
  line-height: 1.22;
  font-style: normal;
  display: flex;
  align-items: center;
}
.contacts__item:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  background-color: #E6E6F0;
  margin-left: 6px;
  margin-right: 6px;
}
.contacts__item_number {
  font-weight: 700;
}

.nav {
  display: flex;
  justify-content: flex-end;
}
.nav__list {
  display: flex;
  gap: 15px;
  list-style: none;
  font-weight: 700;
  line-height: 1.22;
  margin: 0;
}
.nav__link {
  text-decoration: none;
  color: #fff;
}
.nav__menu {
  display: none;
}

@media screen and (max-width: 950px) {
  .header {
    grid-template-columns: 1fr;
  }
  .logo {
    grid-row: unset;
  }
  .top-nav {
    order: -1;
    justify-content: flex-start;
    padding-bottom: 30px;
  }
  .nav {
    justify-content: flex-start;
    padding-top: 30px;
  }
  .lang-list {
    padding-left: 0;
  }
  .nav__list {
    padding-left: 0;
  }
}
.footer {
  background: #F5F5FA;
  padding-top: 30px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
}
.footer__street {
  line-height: 1.22;
  color: #323264;
}
.footer__map {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.22;
  color: #24A3FF;
}
.footer__map:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  background-color: #E6E6F0;
  margin-left: 10px;
  margin-right: 10px;
}
.footer__copyright {
  line-height: 1.22;
  color: #B3B3BA;
  margin: 0;
}

.contacts_footer {
  padding-top: 21px;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.contacts__item_facebook:before {
  display: none;
}

.contacts__item_number_footer {
  color: #46466E;
}
.contacts__item_number_footer:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  background-color: #E6E6F0;
  margin-left: 10px;
  margin-right: 10px;
}

.contacts__email {
  font-weight: 700;
  font-style: normal;
  line-height: 1.22;
  text-decoration: none;
  color: #24A3FF;
}
.contacts__email:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  background-color: #E6E6F0;
  margin-left: 10px;
  margin-right: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50vw - 800px);
  padding-right: calc(50vw - 800px);
}

.center_wider {
  padding-left: calc(50vw - 860px);
  padding-right: calc(50vw - 860px);
}

img {
  max-width: 100%;
  display: block;
}

.background-gradient {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0 0 12px 12px;
  position: relative;
}
.background-gradient:before, .background-gradient:after {
  content: "";
  display: block;
  height: 10px;
  border-radius: 0 0 12px 12px;
  width: calc(100% - 40px);
  background: #CACADB;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 100%;
}
.background-gradient:after {
  width: calc(100% - 80px);
  background: #E7E7F2;
  top: calc(100% + 10px);
}

.symbol {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url("../img/symbol.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.symbol__scroll {
  position: absolute;
  bottom: 30px;
}
.symbol__text {
  font-size: 38px;
  line-height: 1.22;
  color: #fff;
  margin: 0;
}

.text-gradient {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.22;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 0;
}

.breadcrumbs {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.23;
  color: #24A3FF;
  margin: 0;
}

@media screen and (max-width: 1650px) {
  .center {
    padding-left: calc(50vw - 660px);
    padding-right: calc(50vw - 660px);
  }
  .center_wider {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 1340px) {
  .center {
    padding-left: calc(50vw - 452px);
    padding-right: calc(50vw - 452px);
  }
  .center_wider {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 950px) {
  .center {
    padding-left: calc(50vw - 324px);
    padding-right: calc(50vw - 324px);
  }
  .symbol {
    min-height: 1024px;
    background-size: cover;
  }
  .center_wider {
    padding-left: 0;
    padding-right: 0;
  }
}
.intermedia {
  display: flex;
  padding-top: 75px;
  align-items: center;
}

.intermedia__consistent {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.22;
  list-style: none;
  min-width: 560px;
  margin: 0;
  padding: 0;
  padding-right: 60px;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
}

.intermedia__link {
  text-decoration: none;
  display: block;
  text-decoration: none;
  background: #B3B3BA;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  white-space: nowrap;
  text-align: right;
}
.intermedia__link_active {
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
}
.intermedia__link:hover {
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #F0145A 99.96%);
}

.intermedia__services {
  display: none;
  padding-left: 60px;
}
.intermedia__services_active {
  display: block;
}

.intermedia__title {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.22;
  margin: 0;
  margin-bottom: 30px;
}

.intermedia__consolidation {
  font-size: 19px;
  line-height: 1.58;
  color: #fff;
  max-width: 861px;
  margin: 0;
}

@media screen and (max-width: 1650px) {
  .intermedia__consolidation {
    max-width: 581px;
  }
}
@media screen and (max-width: 1340px) {
  .intermedia__consistent {
    min-width: unset;
  }
  .intermedia__consolidation {
    max-width: 405px;
  }
}
@media screen and (max-width: 950px) {
  .intermedia {
    display: block;
    padding-top: 60px;
  }
  .intermedia__consistent {
    display: flex;
    gap: 30px;
    padding-bottom: 60px;
    border-right: none;
    border-bottom: 4px solid rgba(255, 255, 255, 0.3);
    overflow: auto;
  }
  .intermedia__link {
    padding: 0;
  }
  .intermedia__services {
    padding: 0;
  }
  .intermedia__title {
    padding-top: 60px;
  }
  .intermedia__consolidation {
    max-width: 648px;
  }
}
.offer {
  padding-top: 75px;
  padding-bottom: 60px;
}
.offer__name {
  padding-bottom: 10px;
  margin: 0;
  text-decoration: none;
}
.offer__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 60px;
  gap: 60px;
}
.offer__proposition {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.22;
  color: #24A3FF;
  margin: 0;
  padding-top: 30px;
  max-width: 493px;
}
.offer__explanation {
  font-size: 16px;
  line-height: 1.625;
  color: #fff;
  max-width: 494px;
  margin: 0;
  padding-top: 15px;
}

.offer__name:hover {
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #F0145A 99.96%);
}

@media screen and (max-width: 1650px) {
  .offer__proposition {
    max-width: 400px;
  }
  .offer__explanation {
    max-width: 400px;
  }
}
@media screen and (max-width: 950px) {
  .offer__list {
    grid-template-columns: 1fr 1fr;
  }
}
.team {
  padding-top: 60px;
  display: flex;
}
.team__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team__topic {
  padding-left: 30px;
  background: #F5F5FA;
}
.team__topic_distance {
  padding-top: 30px;
  padding-bottom: 5px;
}
.team__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.22;
  color: #B3B3BA;
  margin: 0;
  padding-top: 30px;
}
.team__position {
  font-size: 14px;
  line-height: 1.57;
  color: #B3B3BA;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 30px;
}

.text-gradient_team {
  max-width: 1140px;
}

@media screen and (max-width: 1650px) {
  .text-gradient_team {
    max-width: 860px;
  }
}
@media screen and (max-width: 1340px) {
  .team__image {
    min-width: 400px;
  }
}
@media screen and (max-width: 950px) {
  .team {
    display: block;
  }
  .team__image {
    min-width: 648px;
  }
  .team__image img {
    border-radius: 12px 12px 0 0;
  }
  .team__topic {
    border-radius: 12px 0 12px 12px;
  }
  .text-gradient_team {
    max-width: 588px;
  }
}
.brands {
  padding-top: 60px;
  margin-bottom: 60px;
}
.brands__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.23;
  color: #323264;
  padding-bottom: 30px;
  text-align: center;
  margin: 0;
}
.brands__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 12px;
  overflow: hidden;
}

@media screen and (max-width: 1650px) {
  .brands__cards {
    border-radius: 0;
  }
}
@media screen and (max-width: 768px) {
  .brands {
    margin: 0;
  }
  .brands__cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.publications {
  padding-top: 30px;
  background: #F5F5FA;
}
.publications__slogan {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 30px;
}
.publications__cards {
  display: flex;
  gap: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #E6E6F0;
}
.publications__group {
  background: #fff;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  width: 100%;
}
.publications__image {
  display: block;
  height: 200px;
}
.publications__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.publications__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.22;
  color: #24A3FF;
  margin: 0;
  padding-top: 30px;
  padding-left: 30px;
  max-width: 453px;
}
.publications__date {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.22;
  color: #B3B3BA;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 4px solid #E6E6F0;
  padding-left: 30px;
  margin: 0;
}
.publications__topic {
  padding-left: 30px;
  font-size: 12px;
  line-height: 1.57;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 30px;
  max-width: 453px;
}

@media screen and (max-width: 1650px) {
  .publications__title {
    max-width: 360px;
  }
  .publications__topic {
    max-width: 360px;
  }
}
@media screen and (max-width: 1340px) {
  .publications__title {
    max-width: 221px;
  }
  .publications__topic {
    max-width: 221px;
  }
}
@media screen and (max-width: 768px) {
  .publications__cards {
    flex-wrap: wrap;
  }
  .publications__group {
    width: calc(50% - 15px);
  }
  .publications__group:last-child {
    width: 100%;
  }
  .publications__image {
    min-width: 309px;
  }
  .publications__title {
    max-width: 249px;
  }
  .publications__topic {
    max-width: 249px;
  }
  .publications__title:last-child {
    max-width: 588px;
  }
  .publications__topic:last-child {
    max-width: 588px;
  }
}
.slider {
  margin: 0;
  padding-top: 30px;
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 15px;
  padding-left: 0;
}
.slider__dot {
  width: 16px;
  height: 16px;
  border-radius: 12px;
  font-size: 0;
  color: transparent;
  background: #24A3FF;
  opacity: 0.2;
  border: none;
}
.slider__dot_active {
  opacity: 1;
}
.slider__dot:hover {
  opacity: 0.5;
}

/*# sourceMappingURL=style.css.map */
